# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
virtualEnv
#settings.py
db.sqlite3
run.log
Django_testcode/__pycache__/
login/__pycache__/
login/migrations/__pycache__/
templates/
