body {
    height: 100%;
    background-image: url("../image/backgroud2.jpg");
    background-repeat: no-repeat;
    background-size:100% 100vh;
}

.form-register {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 5px;
}

form a {
    display: inline-block;
    margin-top: 18px;
    line-height: 10px;
}

ins, label {
    border-radius: 3px;
    background-color: rgba(222, 184, 135, 0.6);
    padding: 5px;
    font-weight: bold;
}
ins {
    border-radius: 3px;
    background-color: rgba(255, 244, 0, 0.8);
    color: #000000;
    text-decoration: none;
}
h3{
    color: white;
}